span {
  font-weight: bolder;
  color: white;
}

body {
  background-image: url("http://wallpapercave.com/wp/AoKbB6q.jpg");
  color: white;
}

.cardsArea{
  margin-top: 60px; 
  margin-left: 30px;
}

.btnGroup {
  margin-top: 60px;
}
